@model IEnumerable<Student>

@{
    ViewBag.Title = "Home | Index";
}

<p>@Model.Count() record(s)</p>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Program</th>
        <th></th>
    </tr>

    @foreach(var s in Model)
    {
        <tr>
            <td>@s.Id</td>
            <td>@s.Name</td>
            <td>@(s.Gender == "F" ? "Female": "Male")</td>
            <td>@s.Program.Id - @s.Program.Name</td>
            <td>
                <button data-get="/Home/Detail/@s.Id">Detail</button>
            </td>
        </tr>
    }
</table>
